:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
  padding: .2em;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: azure;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 40px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 35px;
}
.cart:hover svg {
  fill: gray;
}

/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card img {
  padding: 1em;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.product-price {
  display: flex;
  align-items: baseline;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

.product-card__discount {
  font-size:x-small;
  color: #737676;
  padding: .5em;
  margin: 0;
}

.product-card__price {
  margin: .1em;
  font-weight: bold;
}

.product-card__price span{
  font-size: clamp(1em, 3vw, 2em);
}

.list-price {
  text-decoration: line-through;
}

.discount-percent {
  display: flex;
  align-items: center;
  column-gap: 6px;
  flex-wrap: wrap;
  font-size: small;
}

.discount-percent p{
  color: azure;
  margin: 0;
  background-color: red;
  padding: .5em;
  border-radius: 3px;
}

.deal {
  color: red;
  font-weight: bold;
  padding: .1em;
}

sup {
  font-size: small;

  vertical-align: text-top;
}

/* .savings {
  vertical-align: super;
  padding-left: 3px;
  font-size: medium;
} */

.flag-discount {
  border-radius: 6px 0 0 6px;
  color: #fff;
  display: block;
  float: left;
  padding: 5px 10px 5px 10px;
  background: red;
  font-size: 2em;
  position: relative;
  font-weight: bolder;
  min-width: 80%;
}
.flag-discount::before,
.flag-discount::after {
  content: "";
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  display: block;
}
.flag-discount::before {
  top: 0;
  border-width: 22px 15px 0 0;
  border-color: red transparent transparent transparent;
}
.flag-discount::after {
  bottom: 0;
  border-width: 0 15px 22px 0;
  border-color: transparent transparent red transparent;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }

  .sort-filter-container {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .sort-filter-container select {
    margin-right: 0; 
    margin-bottom: 10px; 
    width: 100%; 
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;

  border-top: 2px solid var(--primary-color);
  padding: 0 10px;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: azure;
}


.remove-item {
  position: absolute;
  top: 10px;
  right: 0px;
  cursor: pointer;
  background-color: var(--dark-grey);
  color: white;
  padding: 3.5px 5px 3.5px 5px;
  border-radius: 30%;
  font-weight: bold;
}

.remove-item:hover {
  background-color: red !important ;
  color: var(--dark-grey) !important;
}

.add-item {
  position: absolute;
  top: 50px;
  right: 0px;
  cursor: pointer;
  background-color: var(--dark-grey);
  color: white;
  padding: 3.5px 5px 3.5px 5px;
  border-radius: 30%;
  font-weight: bold;
}

.add-item:hover {
  background-color: green !important ;
  color: whitesmoke !important;
}

.cart-card {
  position: relative;
}

.hide {
  display: none;
}

.cart-total {
  font-weight: bolder;
  font-size: larger;
  text-align: center;
  /* text-decoration: underline overline; */
  margin: 0;
  padding: .5em;
}

.cart-footer {
  border-top: 2px solid var(--primary-color);
}

#superscript {
  position: absolute;
  top: 3px;
  left: 7px;
  background-color: var(--primary-color);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: .8em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4e2286;
  font-weight: bold;
  padding: 3px;
  z-index: 100;
}

/* Cart BACKPACK SVG Animation */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes shrink {
  0% { transform: scale(1); }
  50% { transform: scale(0.9); }
  100% { transform: scale(1); }
}
.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
.shrink {
  animation: shrink 0.5s cubic-bezier(.36,.07,.19,.97) both;
}


/* product grid styles */
.product-grid {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  color: var(--dark-grey);
  padding-left: 0;
}

.product-grid > li {
  width: 150px;
  padding: 0.5em;
  margin: 1em;
}
.product-grid h2 {
  margin: 0;
  padding-top: 1em;
  font-size: 1.2em;
}
.product-grid a {
  text-decoration: none;
}
.product-grid a:link,
.product-grid a:visited {
  color: var(--dark-grey);
}
.product-grid a:hover {
  text-decoration: underline;
}

.title {
  font-weight: bolder;
  text-transform: uppercase;
}

#breadcrumb {
  font-size: 10px;
  color: #737676;
  margin: 0;
  font-style: italic;
  font-weight: bold;
}

/* Base styles for the sort-filter container */
.sort-filter-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  /* align-items: center;  */
  padding: 10px 0; 
  border-bottom: 1px solid #e0e0e0; 
  margin-bottom: 20px; 
  width: fit-content;
}

/* Style the labels */
.sort-filter-container label {
  margin-right: 10px;
  font-weight: bold; 
}

/* Style the dropdowns */
.sort-filter-container select {
  padding: 5px 10px; 
  border: 1px solid #e0e0e0; 
  border-radius: 4px; 
  font-size: 1em; 
  margin-right: 20px; 
}
